.canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    /* Behind everything but above background color */
    mix-blend-mode: screen;
    /* Nice blending with grid */
}